@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold-text {
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
    background-image: url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
}

.card-img {
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.5rem;
    color: var(--desaturated-blue);
    text-align: center;
}

.card-body-title {
    color: var(--dark-blue);
    font-weight: 900;
    margin-bottom: 1rem;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-pale-blue);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0rem;
}

.plan-description {
    margin-right: 1rem;
}

.plan-type {
    color: var(--dark-blue);
    font-weight: 700;
}

.plan-container a {
    color: var(--bright-blue);
    font-size: 0.8rem;
    font-weight: 700;
}

.plan-container a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.payment-button {
    border: 0;
    border-radius: 0.5rem;
    background-color: var(--bright-blue);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem 3.5rem;
    margin-bottom: 1.5rem;
}

.payment-button:hover {
    opacity: 0.8;
}

.text-button {
    border: 0;
    background-color: transparent;
    font-weight: 700;
}

.cancel-button {
    color: var(--desaturated-blue);
}

.cancel-button:hover {
    color: black;
}


@media (min-width: 375px) {
    body {
        background-image: url('images/pattern-background-desktop.svg');

    }
}
